<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
</head>
<body>
    <header>
        <h1>Titulo</h1>
        <img src="../static/images/titulo.jpg" alt="Encabezado imagen" title="Banner del Sitio">
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="servicios_paseos.html">Servicios de Paseo</a></li>
            <li><a href="sucursales.html">Sucursales</a></li>
            <li><a href="contactos.html">Contáctenos</a></li>
        </ul>
    </nav>
    <section>
        <h2>La empresa</h2>
        <article>...</article>
        <article>...</article>
    </section>
    <aside>
        Contiene información adicional
    </aside>
    <footer>
       <p>Copyright 2023 - Huesitos - Diseñado por Ariel Vega – Jujuy – República Argentina</p> 
    </footer>
</body>
</html>